@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');

body {
  --bg: #f6f6f6;
  font-family: 'Montserrat', sans-serif;

  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);

}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: rgb(22, 22, 22);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}


.logo-svg path {
  fill: black;
}

.bg-transparent.bg-active {
  background-color: #DC5132;
  color: white;
  border-color: #DC5132;
}

@media (prefers-color-scheme: dark) {
  body.dark .logo-svg path { 
    fill: white; 
  }
  body.dark footer .link-arrow svg path { 
    stroke: white; 
  }
  body.dark .link-arrow svg path { 
    stroke: white; 
  }
  body.dark footer .email svg path { 
    stroke: white; 
  }
  body.dark footer .svg svg path { 
    fill: white; 
  }
  body.dark .cursor {
    border: solid 3px #23aecd;
  }
  body.dark .cursor.linked {
    border: solid 1px #23aecd;
    background: rgba(35, 174, 205, 0.3);
  }
}

* {
  transition: 0.2s;
  cursor: none;
}

.small-code {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #096342;
  color: #fff;
  border-radius: 4px;
}

.link {
  text-decoration: underline;
}

.cursive {
  font-family: 'Cormorant Garamond', serif;
}


/* Warp Text */

.spin {
  animation: spinit 10s linear infinite;
}

@keyframes spinit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.item-areas {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.logo-svg-side {
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}


/* Cursor Styling */


.cursor {
  position: absolute;
  background-color: transparent;
  border: solid 3px #DC5132;
  mix-blend-mode: difference;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
  mix-blend-mode: difference;
}
.cursor.active {
  transform: scale(0);
}
.cursor.linked {
  opacity: 1;
  border: solid 1px #DC5132;
  background: rgba(220, 81, 50, 0.3);
  scale: 3;
}

.cursor-follower {
  position: absolute;
  background-color: rgba(225, 225, 225, 0.7);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  mix-blend-mode: difference;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
  opacity: 0;
}
.cursor-follower img {
  opacity: 0;
  border-radius: 100%;
}
.cursor-follower.active {
  transform: scale(4);
  opacity: 1;
}

.cursor-follower.linked {
  transform: scale(2.5);
}
.cursor-follower.active img {
  opacity: 1;
  border-radius: 100%;
}

.portfolio-item img {
  transition: 2s;
}

.portfolio-item:hover img {
  scale: 1.1;
}

.index-section {
  opacity: 0;
  transform: translateY(300px);
}

.about-section {
  opacity: 0;
  transform: translateY(300px);
}

